<header class="site-header">
  <div class="wrapper">
    <div class="header-container">
      <a href="/" class="site-title">
        <div class="name-wrapper">
          <span class="title-name">Ian</span><span class="title-highlight">Mullins</span>
        </div>
        <span class="site-subtitle">Computer Science Student</span>
      </a>
      
      <button class="navbar-toggle" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
      <nav class="main-navigation">
        <ul>
          <li><a href="/">Home</a></li>
          {% for page in site.pages %}
            {% if page.title and page.title != "Home" %}
              <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header> 